@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins and Variables */

$light_gray: #777;

/* Miscellaneous */

@for $index from 1 through 6 {
    h#{$index} {
      line-height: 1;
    }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height:  1.7em;
}

a:hover {
  text-decoration: none;
}

/* Header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  transition: 0.25s;

  &:hover {
      color: #e1b8f5;
      text-decoration: none;
  }
}

header.navbar {
  background-color: rgb(166, 111, 191);
  border-bottom: none;
  position: relative;
}

ul.nav.navbar-nav > li > a {
  color: #fff;
  padding: 15px 5px;
  transition: 0.25s;
}

ul.nav.navbar-nav > li > a:hover {
  color: #e1b8f5;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
      float: left;
  }

  ul {
      float: right;
      list-style: none;

      li {
        float: left;
        margin: 0px 15px;
      }
  }
}
